/* used this as a guide https://designmodo.com/shopping-cart-ui/ */

/* For every page*/
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.7em;
  margin: 0px;
  color: #000000;
  background-color: #ffffff;
}

#container{
  width: 40%;
}

nav{
    line-height: 20px;
    padding: 1px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    border: 1px 0px 1px 0px;
}

nav ul{
    margin-left: auto;
    margin-right: auto;
}

nav li{
  display: inline-block;
  width: 20%;
}

nav a:visited, a:link{
  color:#ffffff;
}

nav a:active{
  color:#ffffff;
}

#home-page{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -40px;
  }

#fluffstuff-header{
    height: 75px;
    line-height: 105px;

    text-align: center;
    letter-spacing: 10px;
    font-size: 60px;

    background: #d6dce8;
    color: rgb(0, 0, 0);

    margin: -90px 0px -20px 0px;
    padding: 0px 0px 30px 0px;
  }

#login-search-cart{
  line-height: 20px;
  font-size: 16px;

  text-align: right;
  background: #d6dce8;
  color:  rgb(0, 0, 0);

  margin: 60px 0px 0px 0px;
  padding: -5px 20px 0px 0px;
}

#login-search-cart ul{
  margin-left: auto;
  margin-right: auto;
}

#login-search-cart li{
display: inline-block;
width: 10%;
}

#login-search-cart a:visited, a:link{
  color:rgb(0, 0, 0);
}

#promotional-header {
    text-align: left;
    color:#09466B;
    font-size: 14px;
    margin: -10px 0px -40px 10px;
  }

#contact-us {
    text-align: center;
    color:#09466B;
    font-size: 14px;
}

#contact-us-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 2%;
    padding-left: 2px;
    padding-right: 2px;
    margin: -10px 2px 0px 2px;
}

.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }
  
  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #0e2105;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
  
  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }
  
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url(&quot;delete-icn.svg&quot;) no-repeat center;
  }
   
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }
  
  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
  
  .image {
    margin-right: 50px;
  }
   
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #0e2105;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #0e2105;
  }
  
  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #0e2105;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }
  
  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }